.playfield-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    #playfield {
        background-color: rgb(105, 109, 100);

    }
}